@model IEnumerable<Puesto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-warning">Lista de Puestos</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_Createbuttonpartial" />
        </div>
    </div>

    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.DepartamentoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.AreaTrabajoId)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Departamento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.AreaTrabajo.Nombre)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Existen puestos</p>
        }
    </div>

</div>

