@model IEnumerable<Marca>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Lista de Marcas</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_Createbuttonpartial" />
        </div>
    </div>

    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Nombre_Marca)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Tipo_Activo)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Estado)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Fecha_Creacion)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Usuario_Creacion)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Fecha_Modificacion)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.Usuario_Modificacion)
                    </th>

                    <th class="bg-dark"></th>
                    <th class="bg-dark"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Nombre_Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Tipo_Activo)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Usuario_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Fecha_Modificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Usuario_Modificacion)
                        </td>

                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Existen Marcas Registradas</p>
        }
    </div>
    <div class="col-6 text-right">
        <partial name="_VolverMantenimient0" />
    </div>


</div>


